.popup-link( data-popup="#popup") Товар добавлен в корзину


#popup.popup(aria-hidden='true')
    .popup__wrapper
        .popup__content
            button.popup__close(data-close, type='button') Закрыть
            .popup__text
                h1 Модалка 1
