.first{
  padding: 60px 0;
  position: relative;
  height: 100vh;
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
  background-color: #F9F9F9;

  &__container{
    display: grid;
    grid-gap: rem(30);
    height: 100%;
    align-items: center;
    @include mq('tablet-wide') {
      grid-template-columns: 1fr 1fr;
      padding-top: 60px;
    }
    @include maq('phablet') {
      margin-top: 25%;
    }
  }
  &__content{
    p{
      margin-bottom: 30px;
      @include adaptiveValue(font-size, 24, 18);
    }

    ul{
      margin-top: 30px;
      display: grid;
      grid-gap: 10px;
      li{
        padding-left: 20px;
        position: relative;
        @include adaptiveValue(font-size, 24, 18);
        @include mq('tablet-wide') {
          width: 70%;
        }
        &:before{
          content: '●';
          position: absolute;
          top: 0;
          left: 0;
          color: $color_2;
          font-size: 18px;
        }
      }
    }
  }
  &__wr{
    @include adaptiveValue(margin-top, 60, 30);
    @include adaptiveValue(margin-bottom, 50, 30);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    align-items: center;

    span{
      @include adaptiveValue(font-size, 24, 18);
    }
  }
}
