section.sec-video
    .__container
        .body-video
            .title.video-title Международная сеть студий дизайна Brick to brick
            .content-left
                .box-indicators
                    .item-number
                        .count 7
                        .text-dec лет <br> работы
                    .item-number
                        .text-vertical Более
                        .count 300
                        .text-dec проектов
                    .item-number
                        .count 30
                        .text-dec офисов <br> в разных городах
                    .item-number
                        .text-vertical Более
                        .count 50
                        .text-dec человек <br> в штате
                .box-text
                    p Мы сформировали команду профессионалов: талантливые дизайнеры, визуализаторы, архитекторы, комплектовщики.
                    br
                    p Вместе растем и развиваемся, покоряем новые вершины, чтобы создавать уникальные интерьеры в современной стилистике, в которых комфортно жить и работать.
            //a.media-right(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" )
            a(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" style="background-image: url('img/png/vr.png');").media-right
                //.media-right__bg.circle.circle-1
                //    img(src="img/ic_/play.svg").media-right__play
