section.first(style='background-image: url("img/png/first.png");')
    .first__container
        .first__content
            .offer Дизайнерский ремонт под ключ

            ul
                li Работа в одном окне — дизайн-проект, комплектация, ремонт
                li Вернем до 100% стоимости дизайн-проекта на этапе ремонта!

            .first__wr
                span Рассчитайте стоимость дизайн-проекта
                button.button-b РАССЧИТАТЬ

            p и получите в подарок
            .mar__btns
                button.mar__btn
                    img(src="img/svg/checklist1.svg")
                    span Расчет бюджета <br> реализации

                button.mar__btn
                    img(src="img/svg/furnitures2.svg")
                    span Пример дизайн <br> проекта



