section.first
    .first__container
        .first__content
            .offer Интерьер с реализацией под ключ
            p Cursus purus eros mauris bibendum aliquam eget. Sed ut urna mattis quam elit, placerat nec. Orci massa vitae enim lobortis. Non, diam adipiscing sit eget vel sagittis, praesent. Facilisi tempor at maecenas diam arcu.
            h2 Запросите подробные условия
            form.first__form
                input.input(placeholder="Ваше имя")
                input.input(placeholder="Ваш телефон")
                .first__bot
                    p  Нажав на кнопку, я даю согласие на <a href="#">обработку персональных данных</a>
                    button.button-b ОТПРАВИТЬ


        .first__img
            img.lazyAll(data-src="img/png/sofa.png" alt=``)
