section.colback
    .colback__container
        .title Понравились наши проекты?
        p Закажите полный каталог наших работ за 2021 год.
        form.colback__form
            form.first__form
                input.input(placeholder="Ваше имя")
                input.input(placeholder="Ваш телефон")
                .first__bot
                    button.button-b ОТПРАВИТЬ
                p  Нажав на кнопку, я даю согласие на <a href="#">обработку персональных данных</a>
