section.mar
    .mar__container
        .title Узнайте сколько стоит дизайн-проект
        p Ответьте всего на 4 вопроса. Мы рассчитаем бюджет ремонта и вернём до 100% стоимости дизайн-проекта на этапе отделочных работ!
        .mar__body
            .mar__btns
                button.mar__btn
                    img(src="img/svg/checklist1.svg")
                    span Расчет бюджета <br> реализации

                button.mar__btn
                    img(src="img/svg/furnitures2.svg")
                    span Пример дизайн <br> проекта
            .mar__kviz
                // тут код квиза
