section.project
    .project__container
        .title Международная сеть студий дизайна Brick to brick
        p Уже много лет выполняем свою миссию — создаем уникальные интерьеры в современной стилистике, в которых комфортно жить и работать. Non commodo cursus neque, ornare. Duis id ut vestibulum amet, ante vestibulum enim pellentesque.
        .project__body
            .project__column
                .project__swipe
                    .swiper
                        .swiper-wrapper
                            .swiper-slide
                                img.lazyAll(data-src="img/png/img-1.png" alt=``)
                            .swiper-slide
                                img.lazyAll(data-src="img/png/img-2.png" alt=``)
                            .swiper-slide
                                img.lazyAll(data-src="img/png/img-3.png" alt=``)

                        .project-nav
                            .project-nav-prev
                                <svg width="17" height="9" viewBox="0 0 17 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M17 4.41104C17 4.78383 16.6684 5.08604 16.2594 5.08604L2.48596 5.08604L4.93859 7.90564C5.1927 8.19776 5.13886 8.62232 4.81835 8.85391C4.49783 9.08551 4.03201 9.03644 3.77791 8.74432L-1.9238e-07 4.40115L3.78853 0.243744C4.04986 -0.0430334 4.51679 -0.0824262 4.83143 0.155758C5.14608 0.393941 5.18931 0.819506 4.92797 1.10628L2.53154 3.73605L16.2594 3.73605C16.6684 3.73605 17 4.03825 17 4.41104Z" fill="black"/>
                                </svg>
                            .project-nav-next
                                <svg width="17" height="9" viewBox="0 0 17 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.26012e-08 4.58896C5.70466e-08 4.21617 0.331577 3.91396 0.740598 3.91396L14.514 3.91396L12.0614 1.09436C11.8073 0.802241 11.8611 0.377683 12.1817 0.146087C12.5022 -0.0855082 12.968 -0.0364407 13.2221 0.255682L17 4.59885L13.2115 8.75626C12.9501 9.04303 12.4832 9.08243 12.1686 8.84424C11.8539 8.60606 11.8107 8.18049 12.072 7.89372L14.4685 5.26395L0.740598 5.26395C0.331577 5.26395 4.81557e-08 4.96175 5.26012e-08 4.58896Z" fill="black"/>
                                </svg>

                .project__content
                    h3 Квартира с элементами арт-деко
                    .wr
                        span 136 м <sup>2</sup>
                        span 136 м <sup>2</sup>
                    .wr
                        button.button-w  узнать стоимость
            .project__column
                .project__swipe
                    .swiper
                        .swiper-wrapper
                            .swiper-slide
                                img.lazyAll(data-src="img/png/img-1.png" alt=``)
                            .swiper-slide
                                img.lazyAll(data-src="img/png/img-2.png" alt=``)
                            .swiper-slide
                                img.lazyAll(data-src="img/png/img-3.png" alt=``)

                        .project-nav
                            .project-nav-prev
                                <svg width="17" height="9" viewBox="0 0 17 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M17 4.41104C17 4.78383 16.6684 5.08604 16.2594 5.08604L2.48596 5.08604L4.93859 7.90564C5.1927 8.19776 5.13886 8.62232 4.81835 8.85391C4.49783 9.08551 4.03201 9.03644 3.77791 8.74432L-1.9238e-07 4.40115L3.78853 0.243744C4.04986 -0.0430334 4.51679 -0.0824262 4.83143 0.155758C5.14608 0.393941 5.18931 0.819506 4.92797 1.10628L2.53154 3.73605L16.2594 3.73605C16.6684 3.73605 17 4.03825 17 4.41104Z" fill="black"/>
                                </svg>
                            .project-nav-next
                                <svg width="17" height="9" viewBox="0 0 17 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.26012e-08 4.58896C5.70466e-08 4.21617 0.331577 3.91396 0.740598 3.91396L14.514 3.91396L12.0614 1.09436C11.8073 0.802241 11.8611 0.377683 12.1817 0.146087C12.5022 -0.0855082 12.968 -0.0364407 13.2221 0.255682L17 4.59885L13.2115 8.75626C12.9501 9.04303 12.4832 9.08243 12.1686 8.84424C11.8539 8.60606 11.8107 8.18049 12.072 7.89372L14.4685 5.26395L0.740598 5.26395C0.331577 5.26395 4.81557e-08 4.96175 5.26012e-08 4.58896Z" fill="black"/>
                                </svg>

                .project__content
                    h3 Квартира с элементами арт-деко
                    .wr
                        span 136 м <sup>2</sup>
                        span 136 м <sup>2</sup>
                    .wr
                        button.button-w  узнать стоимость
            .project__column
                .project__swipe
                    .swiper
                        .swiper-wrapper
                            .swiper-slide
                                img.lazyAll(data-src="img/png/img-1.png" alt=``)
                            .swiper-slide
                                img.lazyAll(data-src="img/png/img-2.png" alt=``)
                            .swiper-slide
                                img.lazyAll(data-src="img/png/img-3.png" alt=``)

                        .project-nav
                            .project-nav-prev
                                <svg width="17" height="9" viewBox="0 0 17 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M17 4.41104C17 4.78383 16.6684 5.08604 16.2594 5.08604L2.48596 5.08604L4.93859 7.90564C5.1927 8.19776 5.13886 8.62232 4.81835 8.85391C4.49783 9.08551 4.03201 9.03644 3.77791 8.74432L-1.9238e-07 4.40115L3.78853 0.243744C4.04986 -0.0430334 4.51679 -0.0824262 4.83143 0.155758C5.14608 0.393941 5.18931 0.819506 4.92797 1.10628L2.53154 3.73605L16.2594 3.73605C16.6684 3.73605 17 4.03825 17 4.41104Z" fill="black"/>
                                </svg>
                            .project-nav-next
                                <svg width="17" height="9" viewBox="0 0 17 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.26012e-08 4.58896C5.70466e-08 4.21617 0.331577 3.91396 0.740598 3.91396L14.514 3.91396L12.0614 1.09436C11.8073 0.802241 11.8611 0.377683 12.1817 0.146087C12.5022 -0.0855082 12.968 -0.0364407 13.2221 0.255682L17 4.59885L13.2115 8.75626C12.9501 9.04303 12.4832 9.08243 12.1686 8.84424C11.8539 8.60606 11.8107 8.18049 12.072 7.89372L14.4685 5.26395L0.740598 5.26395C0.331577 5.26395 4.81557e-08 4.96175 5.26012e-08 4.58896Z" fill="black"/>
                                </svg>

                .project__content
                    h3 Квартира с элементами арт-деко
                    .wr
                        span 136 м <sup>2</sup>
                        span 136 м <sup>2</sup>
                    .wr
                        button.button-w  узнать стоимость






